############################################
# RPC Proxy Environment Configuration File #
############################################


# Upstream public RPC endpoint. two rpc for load balancing
UPSTREAM_RPC_URL1=https://mainnet.infura.io/v3/YOUR_PROJECT_ID
UPSTREAM_RPC_URL2=https://mainnet.infura.io/v3/YOUR_PROJECT_ID

# HTTP endpoint of your gas sponsor service
GAS_API_ENDPOINT=https://your-gas-api.com/sponsor

# (Optional) API key or token for sponsor service
GAS_API_KEY=your-api-key

# Host & port for the proxy to listen on
HOST=0.0.0.0
PORT=8545 